.payment{
    background: radial-gradient(#fff,#ffd6d6);
    height: 100%;
}
.container-5{
    width: 750px;
    height: 300px;
    border: 1px solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content:space-around;
    margin-left: 400px;
    margin-bottom: 30px;
}

.container-5 h1{
    text-align: center;
}

.first-row{
     display: flex;
}

.owner{
    width: 100%;
    margin-right: 40px;
}

.input-field{
    border: 1px solid #999;
}

.input-field input{
    width: 100%;
    border:none;
    outline: none;
    padding: 5px;
}

.selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selection select{
    padding: 8px 13px;
}

a{
    background-color: #ff523b;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
    transition: 0.5s;
}

a:hover{
    background-color: rgb(255, 30, 30);
}

.cards img{
    width: 100px;
}